.home{
    h1{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    
    h2{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    
    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
}

.cta{
    height: 287px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__title{
        margin-top: 39px;
        width: 244px;
        text-align: center;
        color: black;
    }

    &__description{
        margin-top: 12px;
        margin-bottom: 33px;
        width: 335px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: rgba($color: #000000, $alpha: 0.7);
        text-align: center;
    }

    & a{
        text-decoration: none;
        color: none;
    }
}

.fonctionnement{
    padding: 48px 0 66px 0;

    &__steps-container{
        margin-top: 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px ;
    }

    & h2{
        margin-left: calc(50vw - (340px / 2));
    }
}

.restaurant{
    padding: 54px 0 64px 0;
    font-family: 'Roboto';
    background: #F7F7F7;


    &__short-card-container{
        margin-top: 22px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px ;
    }
    

    & h2{
        margin-left: calc(50vw - (335px / 2));
    }

    & .card-thumbmail__header__flag--custom{
        color : #008766;
        background-color: #99E2D0;
        font-weight: 700;
        font-size: 14px;
    }

    & .card-thumbmail__main__localisation--custom{
        font-weight: 300;
        font-size: 17px;
    }

}
