.cta{
    height: 287px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 54px ;


    &__title{
        margin-top: 39px;
        width: 244px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: black;
    }

    &__description{
        margin-top: 12px;
        margin-bottom: 53px;
        width: 335px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: rgba($color: #000000, $alpha: 0.7);
        text-align: center;
    }

    & a{
        text-decoration: none;
        color: none;
    }
}