.header-main{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 23px 0 12px 0;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.15);
    position: relative;

    &__back-link{
        height: 100%;
        margin-left: 22px;

        &--hidden{
            visibility: hidden;
        }
    }

    &__logo{
        margin-right: calc((100vw - 167px)/2);
    }
}