/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: unset;
}

.btn--primary {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  background: linear-gradient(162.36deg, #F074DA 13.24%, #9D5ADC 86.47%);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.step-card {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  width: 325px;
  height: 72px;
  background: #F7F7F7;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  margin-left: 15px;
}
.step-card__number {
  position: absolute;
  width: 24px;
  height: 24px;
  color: #F7F7F7;
  background: #9356DC;
  border-radius: 12px;
  left: -15px;
  bottom: 24px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-card__picto {
  margin-left: 35px;
}
.step-card__title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.card-thumbmail {
  width: 335px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.card-thumbmail__header {
  width: 100%;
  height: 174px;
  position: relative;
}
.card-thumbmail__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card-thumbmail__header__flag {
  padding: 6px 12px;
  position: absolute;
  top: 13px;
  right: 11px;
}
.card-thumbmail__main {
  padding: 16px 24px 16px 13px;
  display: flex;
  justify-content: space-between;
}
.card-thumbmail__main__localisation {
  margin-top: 4px;
}
.card-thumbmail__main__like {
  width: 24px;
  height: 24px;
}

.card-menu-validate {
  width: 349px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.card-menu-validate__content {
  padding: 12px 21px 12px 11px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.card-menu-validate__content__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-menu-validate__content__description__details {
  width: 290px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu-validate:hover .card-menu-validate__validation {
  width: 59px;
}
.card-menu-validate:hover .card-menu-validate__content__description__details {
  width: 210px;
}
.card-menu-validate:hover .card-menu-validate__content__title {
  width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu-validate__validation {
  width: 0;
  padding: 22px 0;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg--superposition {
  position: relative;
}
.svg--superposition svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.svg--superposition svg:hover:nth-child(2) {
  opacity: 1;
}

.header-main {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 23px 0 12px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header-main__back-link {
  height: 100%;
  margin-left: 22px;
}
.header-main__back-link--hidden {
  visibility: hidden;
}
.header-main__logo {
  margin-right: calc((100vw - 167px) / 2);
}

.footer-main {
  background: #353535;
  padding: 22px 0 24px 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.footer-main a {
  text-decoration: none;
  color: unset;
}
.footer-main__logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
.footer-main__links {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 500;
  font-size: 16px;
}
.footer-main__links__link a {
  display: flex;
  gap: 10px;
}
.footer-main .container--footer {
  width: 375px;
}

.locator {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: #EAEAEA;
}
.locator__address {
  color: #000;
  opacity: 0.8;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.home h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.home h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.home h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.cta {
  height: 287px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 54px;
}
.cta__title {
  margin-top: 39px;
  width: 244px;
  text-align: center;
  color: black;
}
.cta__description {
  margin-top: 12px;
  margin-bottom: 53px;
  width: 335px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.cta a {
  text-decoration: none;
  color: none;
}

.fonctionnement {
  padding: 48px 0 66px 0;
}
.fonctionnement__steps-container {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonctionnement h2 {
  margin-left: calc(50vw - 170px);
}

.restaurant {
  padding: 54px 0 64px 0;
  font-family: "Roboto";
  background: #F7F7F7;
}
.restaurant__short-card-container {
  margin-top: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restaurant h2 {
  margin-left: calc(50vw - 167.5px);
}
.restaurant .card-thumbmail__header__flag--custom {
  color: #008766;
  background-color: #99E2D0;
  font-weight: 700;
  font-size: 14px;
}
.restaurant .card-thumbmail__main__localisation--custom {
  font-weight: 300;
  font-size: 17px;
}

.menu-palette h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}
.menu-palette h2 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.menu-palette h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.banner {
  height: 254px;
}
.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu {
  position: relative;
  width: 100%;
  background: #F7F7F7;
  padding-bottom: 40px;
}
.menu:before {
  display: block;
  width: 100vw;
  height: 40px;
  content: " ";
  border-radius: 40px 40px 0px 0px;
  background-color: #F7F7F7;
  position: absolute;
  top: -35px;
  z-index: 1;
}
.menu__header {
  width: 318px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(50vw - 159px - 10px);
  margin-bottom: 29px;
}
.menu__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__main__step {
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu__main__step__title {
  position: relative;
  margin-bottom: 8px;
}
.menu__main__step__title::after {
  position: absolute;
  content: " ";
  width: 40px;
  height: 3px;
  background: #99E2D0;
  bottom: -10px;
  left: 0;
}
.menu__main__cta {
  display: flex;
  justify-content: center;
}
.menu__main__cta .btn--primary {
  padding: 0 49px 0 49px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
